function Sys.xor 0
    pop temp 0
    pop temp 1
    push temp 1
    push temp 0
    and
    not
    push temp 1
    push temp 0
    or
    and
    return

function Sys.shiftLeft 1
    pop local 0
    pop temp 0
label LOOP
    push local 0
    push constant 0
    eq
    if-goto END_LOOP
    push temp 0
    push temp 0
    add
    pop temp 0
    push local 0
    push constant 1
    sub
    pop local 0
    goto LOOP
label END_LOOP
    push temp 0
    return

function Sys.computeParity 2
    pop temp 0
    push constant 0
    pop local 0
    push constant 0
    pop local 1
label LOOP
    push local 1
    push constant 15
    lt
    not
    if-goto END_LOOP
    push constant 1
    push local 1
    call Sys.shiftLeft 2
    pop temp 1
    push temp 0
    push temp 1
    and
    pop temp 2
    push temp 2
    push constant 0
    eq
    if-goto SKIP_FLIP
    push local 0
    push constant 1
    call Sys.xor 2
    pop local 0
label SKIP_FLIP
    push local 1
    push constant 1
    add
    pop local 1
    goto LOOP
label END_LOOP
    push local 0
    return

function Sys.encode 1
    pop temp 0
    push temp 0
    call Sys.computeParity 1
    pop local 0
    push constant 32767
    push temp 0
    and
    pop temp 0
    push local 0
    push constant 0
    eq
    if-goto SKIP_SET
    push temp 0
    push constant 32768
    or
    pop temp 0
label SKIP_SET
    push temp 0
    return
